@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
  margin: auto;
  /* max-width: 1920px; */
}
.site {
  display: flex;
  justify-content: center;
  font-family: "Roboto";

}

.content-creativity {
  display: flex;
  justify-content: center;
}
.content-creativity-info {
  font-family: "Roboto";
  width: 30%;
}
.content-creativity-info h2 {
  color: #00cb9c;
  font-size: 80px;
}
.content-creativity-info h3 {
  font-size: 66px;
  color: #b6e01b;
}
.content-creativity-info__second-title {
  color: #0d5acc;
}
.content-creativity-info p {
  width: 80%;
  color: #4d597c;
  font-size: 20px;
}
.content-creativity-info-buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.content-creativity-info-first-button {
  background-color: #5bc7e8;
  color: white;
  padding: 12px;
  border-radius: 18px;
  border: none;
}
.content-creativity-info-second-button {
  background-color: #00cb9c;
  color: white;
  padding: 12px;
  border-radius: 18px;
  border: none;
  margin-top: 20px;
}

.content-community {
  margin-top: 100px;
  background: #0d5acc;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
}
.content-community h1 {
  font-size: 50px;
  color: white;
}
.content-community p {
  font-size: 22px;
  width: 20%;
  color: white;
}
.content-community-second-title {
  color: #b6e01b;
}


.content-elementary-school{
    display: flex;
    justify-content: center;
    /* width: 50%; */
}
.content-elementary-school-image-block{
  min-width: 800px;
  width: 20%;
}
.content-elementary-school-image {
  box-shadow: 64px 34px 0px -7px rgba(91, 199, 232, 0.74);
  -webkit-box-shadow: 64px 34px 0px -7px rgba(91, 199, 232, 0.74);
  -moz-box-shadow: 64px 34px 0px -7px rgba(91, 199, 232, 0.74);
}

.content-elementary-school-first-title{
    color: #5BC7E8;
}
.content-elementary-school-info{
    width: 30%;
}
.content-elementary-school-info h1{
  font-size: 80px;
}
.content-elementary-school-info p{
    color: #4D597C;
    font-size: 20px;
}



.content-middle-school{
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.content-middle-school-info{
  width: 50%;
}
.content-middle-school-info h2{
  font-size: 60px;

}
.content-middle-school-info h3{
  font-size: 35px;
  min-width: 300px;
  width: 50%;
}
.content-middle-school-info h4{
  font-size: 20px;
  min-width: 300px;
  width: 50%;
}
.content-middle-school-info p {
  min-width: 300px;
  width: 50%;
}
.content-middle-school-title{
  color: #00CB9C;
}
/* .content-middle-school-image-block{
  width: 50%;
} */

.content-middle-school-image{
  box-shadow: -69px 67px 0px 0px rgba(0,203,156,0.75);
-webkit-box-shadow: -69px 67px 5px 0px rgba(0,203,156,0.75);
-moz-box-shadow: -69px 67px 5px 0px rgba(0,203,156,0.75);
}


.content-background{
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  max-width: 1920px;
  object-fit: contain;

}



.content-opportunity{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
}
.content-opportunity-image-block{
  width: 20%;
  min-width: 800px;
}
.content-opportunity-image{
  box-shadow: 87px 169px 0px -67px rgba(13,90,204,0.75);
  -webkit-box-shadow: 107px 69px 0px -67px rgba(13,90,204,0.75);
  -moz-box-shadow: 107px 69px 0px -67px rgba(13,90,204,0.75);
}

.content-opportunity-info{
  width: 20%;
}
.content-opportunity-info h1{
  color: #0D5ACC;
  font-size: 60px;
}
.content-opportunity-info p {
  color: #4D597C;
  font-size: 20px;
}
.content-opportunity-info button{
  padding: 12px;
  border-radius: 18px;
  background-color: #0D5ACC;
  color: white;
  border: none;
  width: 150px;
  margin-bottom: 50px;
}



footer{
  height: 600px;
  background-color: #08294D;

}
.footer-logo-block{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.footer-logo{
  width: 346px;
  height: 114px;
}




@media (max-width:1024px) {

  .site{
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin: auto;

  }

  .content-creativity {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
.content-creativity-image-block{
  display: flex;
  justify-content: center;
}

  .content-creativity-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-creativity-info p{
    width: 50%;
  }

  .content-community{
    width: 50%;
  }
  .content-community p{
    width: 50%;
  }

  .content-elementary-school{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .content-elementary-school-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-elementary-school-info p{
    width: 60%;
  }
  .content-elementary-school-image-block{
    display: flex;
    justify-content: center;
  }
  .content-elementary-school-image{
    width: 50%;
  }


  .content-middle-school{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .content-middle-school-image-block{
    display: flex;
    justify-content: center;
  }
  .content-middle-school-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content-background{
    max-width: 640px;
  }
  .content-background-image{
    width: 90%;
    object-fit: contain;
    height: 500px;
  }


  .content-opportunity{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .content-opportunity-image-block{
    display: flex;
    justify-content: center;
  }
  .content-opportunity-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-opportunity-info p{
    width: 50%;
  }
}